fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
feedparser
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
python-multipart
apscheduler
requests
python-dateutil
